Name: "SOLID"
Version: "1.0"
Architecture: iphoneos-arm
Depends: "anemone"
Description: "Yet another solid colors theme :)"
Homepage: "sup bru"
Depiction:
Maintainer: "Valentín <valenbcreations@gmail.com>"
Author: "ValenB <valenbcreations@gmail.com>"
Section: "Themes"
MD5sum: b5810165bb84d4143d715a5dee8be0b9
SHA1: c06430503f40d41a568b3366b09bff2171258ece
SHA256: sfbccf8bd7a448cae1578932ac2a20ae2a53cc4cc17f8425bc96ddd333f9f8526